<h2 id="title">Lots</h2>

<hr/>

<section>
  <div class="wrapper">
    <div class="centered">
      <div class="button-group">
        {{#link-to 'lots.index'}}
          <span class="button-group-item">All</span>
        {{/link-to}}
        {{#link-to 'lots.open'}}
          <span class="button-group-item">Open</span>
        {{/link-to}}
        {{#link-to 'lots.unrealized-taxable-losses'}}
          <span class="button-group-item">Unrealized Taxable Losses</span>
        {{/link-to}}
        {{#link-to 'lots.closed'}}
          <span class="button-group-item">Closed</span>
        {{/link-to}}
      </div>
    </div>
  </div>
</section>

{{#if model}}
  <section>
    <table class="table-striped lot-table">
      <thead>
        <tr>
          <th>Fund</th>
          <th>Date Acquired</th>
          <th>Quantity</th>
          <th>Sold</th>
          <th>Remaining</th>
          <th>Share Cost</th>
          <th>Unrealized Gain / Loss</th>
          <th>Term</th>
        </tr>
      </thead>
      <tbody>
        {{#each lot in controller}}
          <tr>
            <td>{{lot.fund.symbol}}</td>
            <td>{{moment lot.acquiredAt 'YYYY-MM-DD'}}</td>
            <td>{{lot.quantity}}</td>
            <td>{{lot.quantitySold}}</td>
            <td>{{lot.quantityRemaining}}</td>
            <td>{{format-currency lot.shareCost}}</td>
            <td>
              <span {{bind-attr class="lot.isLoss:red:green"}}>
                {{format-currency lot.unrealizedValueChange}}
              </span>
            </td>
            <td>
              {{#if lot.isShortTerm}}
                <span class="badge-error">Short</span>
              {{else}}
                <span class="badge-success">Long</span>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </section>
{{else}}
  <p>No lots to show.</p>
{{/if}}
