<h2 id="title">Lots</h2>

<hr/>

<section>
  <div class="wrapper">
    <div class="centered">
      <div class="button-group">
        {{#link-to 'lots.index'}}
          <span class="button-group-item">All</span>
        {{/link-to}}
        {{#link-to 'lots.open'}}
          <span class="button-group-item">Open</span>
        {{/link-to}}
      </div>
    </div>
  </div>
</section>

<section>
  <table class="table-striped lot-table">
    <thead>
      <tr>
        <th>Fund</th>
        <th>Date Acquired</th>
        <th>Date Sold</th>
        <th>Quantity</th>
        <th>Share Cost</th>
        <th>Total Cost</th>
        <th>Proceeds</th>
        <th>Gain / Loss</th>
        <th>Term</th>
      </tr>
    </thead>
    <tbody>
      {{#each lot in controller}}
        <tr>
          <td>{{lot.fund.symbol}}</td>
          <td>{{moment lot.dateAcquired 'YYYY-MM-DD'}}</td>
          <td>
            {{#if lot.dateSold}}
              {{moment lot.dateSold 'YYYY-MM-DD'}}
            {{/if}}
          </td>
          <td>{{lot.quantity}}</td>
          <td>{{format-currency lot.shareCost}}</td>
          <td>{{format-currency lot.totalCost}}</td>
          <td>{{format-currency lot.proceeds}}</td>
          <td>
            <span {{bind-attr class="lot.isLoss:red:green"}}>
              {{format-currency lot.valueChange}}
            </span>
          </td>
          <td>
            {{#if lot.isShortTerm}}
              Short
            {{else}}
              Long
            {{/if}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
