<div class="fund" {{action 'toggleIsExpanded'}}>
  <div class="row-container fund-summary">
    <div class="cell holding-name">{{name}}</div>
    <div class="cell current-weight">{{format-percentage currentWeight}}</div>
    <div class="cell target-weight shares">{{quantity}} shares</div>
    <div class="cell current-value">{{format-currency totalValue}}</div>
  </div>
  {{#each lot in lots}}
    {{render "allocationLotItem" lot}}
  {{/each}}
</div>
