<div {{bind-attr class=":asset-class isExpanded:expanded"}}>
  <div class="row-container asset-class-summary" {{action 'toggleIsExpanded'}}>
    <div class="cell holding-name">
      {{#if funds}}<span class="arrow">›</span>{{/if}}
      {{#link-to 'asset_class' allocation.assetClass}}
        {{assetClassName}}
      {{/link-to}}
    </div>
    <div class="cell current-weight">{{format-percentage currentWeight}}</div>
    <div class="cell weight-bar">
      {{graph-bar value=currentWeight maxValue=50 height=19 class="current-weight-bar"}}
      {{format-percentage targetWeight}}
    </div>
    <div class="cell current-value">{{format-currency totalValue}}</div>
  </div>

  {{#if isExpanded}}
    {{#each fund in funds}}
      {{render "allocationFundItem" fund}}
    {{/each}}
  {{/if}}
</div>
