<div class="{{if fund.isExpanded 'expanded'}}">
  <div class="row-container fund-summary" {{action 'toggleIsExpanded'}}>
    <div class="cell holding-name">
      {{#if lots}}
        <span class="arrow">›</span>
      {{/if}}
      {{name}}
    </div>
    <div class="cell current-weight">{{format-percentage currentWeight}}</div>
    <div class="cell weight-graph shares">{{format-decimal quantity 4}} shares</div>
    <div class="cell current-value">{{format-currency totalValue}}</div>
  </div>
  {{#if isExpanded}}
    {{#each lot in lots}}
      {{render "allocationLotItem" lot}}
    {{/each}}
  {{/if}}
</div>
