<tr {{action 'toggleIsExpanded'}}>
  <td>
    {{#link-to 'asset_class' allocation.assetClass}}
      {{allocation.assetClassName}}
    {{/link-to}}
  </td>
  <td>{{format-percentage currentWeight}}</td>
  <td>-</td>
  <td>{{format-percentage targetWeight}}</td>
  <td>{{format-currency totalValue}}</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
</tr>

{{#if isExpanded}}
  {{#each fund in funds}}
    {{render "allocationFundItem" fund}}
  {{/each}}
{{/if}}
