<div {{bind-attr class=":asset-class isExpanded:expanded"}}>
  <div class="row-container asset-class-summary" {{action 'toggleIsExpanded'}}>
    <div class="cell holding-name">
      {{#if funds}}<span class="arrow">›</span>{{/if}}
      {{#link-to 'asset_class' allocation.assetClass}}
        {{model.assetClassName}}
      {{/link-to}}
    </div>
    <div class="cell current-weight">{{format-percentage currentWeight}}</div>
    <div class="cell weight-graph">
      <!-- TODO: figure out maxValue based on highest currentWeight -->
      {{graph-bar value=currentWeightUpToTarget maxValue=50 height=19 class="current-weight-bar"}}
      {{#if driftIsPositive}}
        <span class="target-bar"></span>
        {{graph-bar value=driftAbsoluteValue maxValue=50 height=19 class="drift-bar positive"}}
      {{else}}
        {{graph-bar value=driftAbsoluteValue maxValue=50 height=19 class="drift-bar negative"}}
        <span class="target-bar"></span>
      {{/if}}
      <span class="drift-amount">
        {{format-percentage drift}}
      </span>
    </div>
    <div class="cell current-value">{{format-currency totalValue}}</div>
  </div>

  {{#if isExpanded}}
    {{#each fund in funds}}
      {{render "allocationFundItem" fund}}
    {{/each}}
  {{/if}}
</div>
