<div class="row-container lot">
  <div class="cell holding-name">{{moment acquiredAt 'YYYY-MM-DD'}}</div>
  <div class="cell current-weight">{{format-percentage currentWeight}}</div>
  <div class="cell weight-graph shares">{{quantity}} shares</div>
  <div class="cell value-change">
    <span {{bind-attr class="isLoss:red:green"}}>
      {{format-currency valueChange}}
    </span>
  </div>
  <div class="cell current-value">{{format-currency marketValue}}</div>
</div>
