<h2 id="title">Asset Class: {{model.name}}</h2>

<h3>Funds</h3>

<table class="table-borders">
  <thead>
    <tr>
      <th>Name</th>
      <th>Symbol</th>
      <th>Expense Ratio</th>
      <th>Price</th>
      <th>Price Updated At</th>
    </tr>
  </thead>
  <tbody>
    {{#each fund in model.funds}}
      <tr>
        <td>{{fund.name}}</td>
        <td>{{fund.symbol}}</td>
        <td>{{fund.expenseRatio}}</td>
        <td>{{fund.price}}</td>
        <td>
          {{#if fund.priceUpdatedAt}}
            {{moment fund.priceUpdatedAt 'MMM DD YYYY, h:mm:ss a'}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
